extends ../layouts/main.pug
block content
    .container
        header
            h1= task.title
            small= task.status.toLowerCase()

        div
            = task.content || "Your story is processing..."