extends ../layouts/main.pug

block content
    h1#my-unique-id Contact

    p.intro-text(data-attr="my value") This was created by Drake Esdon with the help of the resources taught and created in COMP2068